body{
    background-image:url(13.jpg) ;
text-align: center;
    background-repeat: no-repeat;

background-size: cover;
}
p{
 color: black;
text-align: center;
font-size:30px ;
font-family:"Lucida Handwriting" ;
}
































